@charset "utf-8";

body{
	padding: 0px;
	margin: 0px;
}

li{
	list-style: none;
}

a{
	text-decoration:none;
}

.font-style{
    font-family: 'Otomanopee One', sans-serif;
}

/* about-section */
.box-shadow{
    
}